@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<div id="Done"></div>
<div id="DynamicContent"></div>


<script type="text/javascript">
    //variables
    var search,
    results,
    SearchValue,
    requestBaseUrl = 'https://api.github.com/legacy/repos/search/';


    SearchValue = "csharp";
    
    $("<div class='list-group'>").appendTo('#DynamicContent');
    $.getJSON(requestBaseUrl + SearchValue, function (json, status) { })
    // Success then append items to divs
    .done(function (json) {
        $.each(json.repositories, function (i, repositories) {
            $("<h4 id ='" + json.repositories[i].owner + "'class='list-group-item-heading'>" + json.repositories[i].owner + " - " + json.repositories[i].name + "</h4>")
							.appendTo('#DynamicContent div')

            $("<ul><li>Repo Lanuage is : " + json.repositories[i].language + "</li>" +
                                  "<li>There are " + json.repositories[i].followers + " followers of this repo.</li>" +
                                  "<li>Navigate to the repo : <a href='" +  json.repositories[i].url + "'>Here</a></li>" +
                                  "<li>The description of the repo : " + json.repositories[i].description + "</li></ul>").appendTo('#' + json.repositories[i].owner)

        });
        $("<p>The following C# Git Repos were found:</p>").appendTo('#Done');
    })
</script>
